<mat-card>
    <mat-card-title>{{subscriber?.Name}}</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item> Area: {{subscriber?.Area}} </mat-list-item>
            <mat-list-item> País: {{subscriber?.CountryName}} </mat-list-item>
            <mat-list-item> Email: {{subscriber?.Email}} </mat-list-item>
            <mat-list-item> Número: {{subscriber?.PhoneCodeAndNumber}} </mat-list-item>
            <mat-list-item> Título: {{subscriber?.JobTitle}} </mat-list-item>
            <mat-list-item> Subscripción: {{subscriber?.SubscriptionStateDescription}} </mat-list-item>
           </mat-list>
    </mat-card-content>
</mat-card>